SUPER_CONFIG_PATH: ./configs/r50_deformable_detr_motip_dancetrack.yaml

DATASETS: [HSPOT]
DATASET_SPLITS: [train]
INFERENCE_DATASET: HSPOT
INFERENCE_SPLIT: val

DETR_PRETRAIN: ./pretrains/r50_deformable_detr_coco_dancetrack.pth

SAMPLE_LENGTHS: [24, ]
REL_PE_LENGTH: 24
MISS_TOLERANCE: 24

# Training strategies:
BATCH_SIZE: 1
LR: 1.0e-4
LR_BACKBONE_NAMES: [backbone.0]
LR_BACKBONE_SCALE: 0.1
LR_LINEAR_PROJ_NAMES: [reference_points, sampling_offsets]
LR_LINEAR_PROJ_SCALE: 0.05
LR_DICTIONARY_NAMES: [word_to_embed, embed_to_word]
LR_DICTIONARY_SCALE: 1.0
LR_WARMUP_EPOCHS: 1
WEIGHT_DECAY: 0.0005
MAX_CLIP_NORM: 0.1
EPOCHS: 10
SCHEDULER_MILESTONES: [6, 9]
SCHEDULER_GAMMA: 0.1
DETR_NUM_TRAIN_FRAMES: 4
DETR_NUM_CHECKPOINT_FRAMES: 5

USE_DECODER_CHECKPOINT: False

# MLflow settings
MLFLOW_TRACKING_URI: "http://127.0.0.1:5000" # Alter to SURF RC MLflow instance
USE_WANDB: True